@require '~@/assets/style/variables'

html
    height 100%
    font-size 62.5%
    font-family 'Noto Sans JP', sans-serif

body
    height 100%
    font-size: 1.4rem
    color $black_000

ul, li, h1, h2, h3, p, a
    padding 0
    margin 0

ul
    list-style none
