lightFont()
  font-weight 300

normalFont()
  font-weight 400

boldFont()
  font-weight 700

centerAbsContent()
  top 50%
  left 50%
  transform translate(-50%, -50%)

centerHorizontallyAbsContent()
  left 50%
  transform translateX(-50%)

centerVerticallyAbsContent()
  top 50%
  transform translateY(-50%)

textEllipsis()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

overflowYScroll()
  overflow-y scroll

buttonDisabled()
  opacity 0.75
  pointer-events none

$MediaSP = 767

pc()
  @media screen and (min-width unit($MediaSP + 1 , "px"))
    {block}

sp()
  @media screen and (max-width unit($MediaSP , "px"))
    {block}
